[submodule "extras/glfw"]
	path = extras/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extras/glslang"]
	path = extras/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "extras/spdlog"]
	path = extras/spdlog
	url = https://github.com/gabime/spdlog.git
