[submodule "extras/glfw"]
	path = extras/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extras/glslang"]
	path = extras/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "extras/stb"]
	path = extras/stb
	url = https://github.com/nothings/stb.git
[submodule "extras/par"]
	path = extras/par
	url = https://github.com/prideout/par
[submodule "extras/tinyobjloader"]
	path = extras/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
