<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.prideout.lava.lavademo">

    <!-- This is the platform API where NativeActivity was introduced. -->
    <uses-sdk android:minSdkVersion="22" />

    <!-- <uses-permission android:name="android.permission.SET_DEBUG_APP"/> -->

    <application android:label="@string/app_name"
        android:hasCode="false" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity android:name="android.app.NativeActivity"
                android:label="@string/app_name"
                android:configChanges="orientation|keyboardHidden">

            <!-- name of .so -->
            <meta-data android:name="android.app.lib_name" android:value="lavademos" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>