body {
    max-width: 50em;
    font-size: 16px;
    line-height: 1.6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: left;
    margin: 1.5em;
    padding: 0 1em;
}

.md ul:first-of-type {
    list-style-type: none;
    padding-left:0;
}

.md ul:first-of-type li li {
    list-style-type: none;
    padding-left:30px;
}

.md .gotop {
    font-weight: normal;
    font-size: 10px;
    float: right;
    color: #99a3d8 !important;
}

.md h2 .gotop, .md h3 .gotop {
    line-height: 50px;
}

.md h4 .gotop {
    line-height: 40px;
}

.md a,
.md div.title, contents, .md .tocHeader,
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6,
.md .nonumberh1, .md .nonumberh2, .md .nonumberh3, .md .nonumberh4, .md .nonumberh5, .md .nonumberh6,
.md .shortTOC, .md .mediumTOC, .md .longTOC {
    font-family: inherit;
}

.md div.title {
    margin: 0.4em 0 0 0;
    padding: 0;
    text-align: inherit;
}

.md div.subtitle {
    text-align: inherit;
}

/* faint border below headings */
.md h1, .md h2, .md h3, .md h4,
.md .nonumberh1, .md .nonumberh2, .md .nonumberh3, .md .nonumberh4 {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
/* heading font styles */
.md h1, .md .nonumberh1, .md div.title {
    font-size: 150%;
    font-weight: 600;
    color: rgba(0,0,0,.7);
}
.md h2, .md .nonumberh2 {
    font-size: 120%;
    font-weight: 400;
    color: rgba(0,0,0,.9);
}
.md h3, .md .nonumberh3 {
    font-size: 110%;
    font-weight: 400;
    color: rgba(0,0,0,.7);
}
/* no numbering of headings */
.md h1:before, .md h2:before, .md h3:before, .md h4:before { content: none; }

/* link styling */
.md a:link, .md a:visited {
    color: #3f51b5;
}

/* inline and block code */
.md code, .md pre.listing {
    background-color: rgba(0,0,0,.05);
    padding: 0.1em 0.2em;
    border-radius: 0.15em;
}
.md pre.listing code {
    background-color: transparent;
    padding: 0;
    border: none;
}
